@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

a,
a:focus,
a:hover {
  color: $text-color;
  text-decoration: underline;
}

html,
body {
  height: 100%;
  background-color: $background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Droid Sans', sans-serif;
}

body {
  color: $text-color;
  text-align: center;
  text-shadow: $text-shadow;
}

#site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

#logo {
  margin-bottom: 2%;
}

#main .content-box {
  text-align: left;
}

.links-group {
  font-variant: small-caps;
}

.content-box {
  background-color: $content-shadow-color;
  padding: 1em;
  -webkit-box-shadow: 0 0 10px 2px $content-shadow-color;
  box-shadow: 0 0 10px 2px $content-shadow-color;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

@media (min-width: 768px) {

  .masthead-nav {
    float: right;
  }
}

.cover {
  padding: 0 20px;
}

.mastfoot {
  color: $footer-text-color;
  font-size: .9em;
}

@media (min-width: 768px) {


  .site-wrapper-inner {
    vertical-align: middle;
  }
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

::selection {
  background: $logo-yellow;
}

::-moz-selection {
  background: $logo-yellow;
}