// Core variables and mixins
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

// Utility classes
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

$text-color: #fff;
$background-color: transparent;
$footer-text-color: rgba(255,255,255,.7);
$content-shadow-color: rgba(0, 0, 0, 0.6);
$text-shadow: 0 1px 3px rgba(0,0,0,.5);
$logo-yellow: #FFD400;

@import "base";

body {
  background-image: url("../../public/img/slider/1.jpg");
  background-size: cover;
}

.impro10 {
	width: 15em;
	filter: brightness(0) invert(1);
	margin-bottom: 5em;
}